<ion-item *ngIf="contact" [routerLink]="['/edit-contact', contact.id]" [detail]="false">
  <ion-avatar slot="start">
    <img alt="avatar" src="{{contact.imageUrl || 'assets/icon/avatar2.svg'}}">
  </ion-avatar>
  <ion-label class="ion-text-wrap" class="ion-padding">
    <h2>
      {{ contact.firstName }} {{contact.lastName}}
    </h2>
    <p>{{ contact.phoneNumber }}</p>
  </ion-label>
  <ion-icon name="chevron-forward" size="small"></ion-icon>
</ion-item>