<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchContact($event)"></ion-searchbar>
    <ion-icon class="ion-padding" size="large" slot="end" src="assets/icon/sort.svg" (click)="sortByDateAdded()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Contacts
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/new-contact">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <app-contact *ngFor="let contact of searchContactList" [contact]="contact"></app-contact>
  </ion-list>
</ion-content>
