<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" class="ion-padding" routerLink="/">
      <ion-icon  size="large" name="close-outline"></ion-icon >
    </ion-buttons>
    <ion-buttons slot="end" class="ion-padding">
      <ion-button *ngIf="!isNewContactAction()" (click)="deleteContact()">
        <ion-icon class="button--delete" size="large" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="addOrUpdateContact()" [disabled]="!form.valid">
        <ion-icon size="large" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{backButtonText}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-input 
        mode="md" 
        type="text" 
        placeholder="First Name"
        formControlName="firstName"
        >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input 
        mode="md" 
        type="text" 
        placeholder="Last Name"
        formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea 
        placeholder="Description" 
        rows="6" 
        cols="20"
        formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input mode="md" type="tel" placeholder="Phone Number" formControlName="phoneNumber"></ion-input>
      <ion-icon 
        *ngIf="!isNewContactAction()" 
        class="button--clear" 
        (click)="clearField('phoneNumber')" 
        slot="end" 
        name="close-circle-outline" 
        size="small"
        >
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-input mode="md" type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-icon 
        *ngIf="!isNewContactAction()" 
        class="button--clear" 
        (click)="clearField('email')" 
        slot="end" 
        name="close-circle-outline" 
        size="small"
        >
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-input mode="md" type="text" placeholder="twitter" formControlName="twitter"></ion-input>
      <ion-icon 
        *ngIf="!isNewContactAction()" 
        class="button--clear" 
        (click)="clearField('twitter')" 
        slot="end" 
        name="close-circle-outline" 
        size="small"
        >
      </ion-icon>
    </ion-item>
  </form>
</ion-content>
